<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body style="background-color: #b19cd9">
<div class="container" style="margin-center">

<form method="post">
    <div class="row">
            <div class="font-weight-bold"><H2>Student Profile</H2></div>
        <p> </p>
    </div>

    <div class="row">
        <div class="col-md-3 offset-md-4">
            <div class="form-group">
                <label>First Name
                    <input th:field="${student.firstName}" th:value="${student.firstName}" class="form-control">
                </label>
                <span th:errors="${student.firstName}" class="error"></span>
            </div>
        </div>

            <div class="form-group">
                <label>Last Name
                    <input th:field="${student.lastName}" th:value="${student.lastName}" class="form-control">
                </label>
                <span th:errors="${student.lastName}" class="error"></span>
            </div>

    </div>
    <div class="row">
        <div class="col-md-3 offset-md-4">
            <div class="form-group">
                <label>Address
                    <input th:field="${student.address1}" th:value="${student.address1}" class="form-control">
                </label>
                <span th:errors="${student.address1}" class="error"></span>
            </div>
        </div>

            <div class="form-group">
                <label>Apt
                    <input th:field="${student.address2}" th:value="${student.address2}" class="form-control">
                </label>
                <span th:errors="${student.address2}" class="error"></span>
            </div>

    </div>
    <div class="row">
        <div class="col-md-2 offset-md-7">
            <div class="form-group">
                <label>City
                    <input th:field="${student.city}" th:value="${student.city}" class="form-control">
                </label>
                <span th:errors="${student.city}" class="error"></span>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <label>State
                    <input th:field="${student.state}" th:value="${student.state}" class="form-control">
                </label>
                <span th:errors="${student.state}" class="error"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Zip Code
                    <input th:field="${student.zip}" th:value="${student.zip}" class="form-control">
                </label>
                <span th:errors="${student.zip}" class="error"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-8">
            <div class="form-group">
                <label>Phone
                    <input th:field="${student.phone}" th:value="${student.phone}" class="form-control">
                </label>
                <span th:errors="${student.phone}" class="error"></span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Email
                    <input th:field="${student.email}" th:value="${student.email}" class="form-control">
                </label>
                <span th:errors="${student.email}" class="error"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-md-2">
            <div class="form-group">
                <label>Birth Date
                    <input type="date" th:field="${student.birthdate}" th:value="${student.birthdate}" class="form-control">
                </label>
                <span th:errors="${student.birthdate}" class="error"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Note
                    <textarea cols="50" rows = "5" th:field="${student.note}" th:value="${student.note}" class="form-control"></textarea>
                </label>
                <span th:errors="${student.note}" class="error"></span>
            </div>
        </div>
    </div>
    <div class="row">
       <div class="col-md-2 offset-md-4">
            <input type="submit" value="Create Student Profile" class="btn btn-primary">
       </div>
        <div class="col-md-2 offset-md-4">
           <input type="submit" value = "cancel" th:formaction="@{/students/cancel}" class="btn btn-primary">
       </div>
    </div>

</form>
</div>
</body>
</html>