<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<form method="post">
    <div class="form-group">
        <label>First Name
            <input th:field="${student.firstName}" th:value="${student.firstName}" class="form-control">
        </label>
        <span th:errors="${student.firstName}" class="error"></span>
    </div>
    <div class="form-group">
        <label>Last Name
            <textarea th:field="${student.lastName}" th:value="${student.lastName}" class="form-control"></textarea>
        </label>
        <span th:errors="${student.lastName}" class="error"></span>
    </div>
    <input type="submit" value="Create Student Profile" class="btn btn-primary">
</form>
</body>
</html>