<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body style="background-color: #b19cd9">
    <div class="container-fluid" style="margin-left">
        <form method="post">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <h3>
                        <label>Meeting Date
                            <input type="date" th:field="${meeting.meetingDate}" th:value="${meeting.meetingDate}" class="form-control">
                        </label>
                        <span th:errors="${meeting.meetingDate}" class="error"></span>
                        </h3>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <h3>
                        <label th:for="student">Student</label>
                        <div></div>
                        <select name="studentId">
                            <option th:each="student : ${students}"
                                    th:text="${student.firstName}+' '+${student.lastName}"
                                    th:value="${student.id}"></option>
                        </select>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <h4>
                        <label>Meeting Note
                            <textarea th:field="${meeting.meetingNote}" th:value="${meeting.meetingNote}" class="form-control" cols="48" rows = "12"></textarea>
                        </label>
                        <span th:errors="${meeting.meetingNote}" class="error"></span>
                        </h4>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-6">
                        <h4>
                        <label th:for="book">Books
                            <div></div>
                        <select name="books" multiple="multiple" size = "8">
                            <option th:each="book : ${books}"
                                    th:text="${book.bookName}+' '+${book.lessonName}+' '+${book.procedureName}"
                                    th:value="${book.id}">
                            </option>
                        </select>
                        </label>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="font-weight-bold" th:for="sightwords">Reading Sight Words: </label>
                        <div>
                            <th:block th:each="sightword : ${sightwords}">
                                <label class="checkboxes">
                                    <input type="checkbox" name="sightwords" th:value="${sightword.id}"></span>
                                    <span th:text="${sightword.word}"></span>
                                </label>
                            </th:block>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label class="font-weight-bold" th:for="spellwords">Spelling Words: </label>
                        <div>
                            <th:block th:each="spellword : ${spellwords}">
                                <label class="checkboxes">
                                    <input type="checkbox" name="spellwords" th:value="${spellword.id}"></span>
                                    <span th:text="${spellword.word}"></span>
                                </label>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <input type="submit" value="Save Meeting" class="btn btn-primary">
                </div>

                <div class="col">
                    <input type="submit" value = "Cancel" th:formaction="@{/meetings/cancel}" class="btn btn-danger">
                </div>
            </div>

        </form>
    </div>

</body>
</html>