<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <div class="container-fluid">
        <form method="post" th:action="@{/meetings/edit}">
            <input type="hidden" th:value="${meeting.id}" name="meetingId">
            <div class="form-group">
                    <label>Meeting Date
                        <input type="date" th:field="${meeting.meetingDate}" th:value="${meeting.meetingDate}" required class="form-control">
                    </label>
                    <span th:errors="${meeting.meetingDate}" class="error"></span>
            </div>

            <div class="form-group">
                <label>Meeting Note
                    <textarea th:field="${meeting.meetingNote}" th:value="${meeting.meetingNote}" class="form-control"></textarea>
                </label>
                <span th:errors="${meeting.meetingNote}" class="error"></span>
            </div>

            <div class="form-group">
               <label th:for="student">Student</label>

               <select id="studentId" name="studentId">
                    <option th:each="student : ${students}"
                            th:text="${student.firstName}+' '+${student.lastName}"
                            th:value="${student.id}"
                            th:selected="${student.id == meeting.student.id}">

                    </option>
                </select>

                <div class="form-group">
                    <label class="font-weight-bold" th:for="books">Books: </label>
                    <div>
                        <th:block th:each="book : ${books}">
                            <label class="checkboxes">
							<span th:if="${meeting.books.contains(book)}">
								<input type="checkbox" name="books" th:checked="${meeting.books}" th:value="${book.id}" ></span>
                                <span th:unless="${meeting.books.contains(book)}">
								<input type="checkbox" name="books" th:value="${book.id}"></span>
                                <span th:text="${book.bookName}+' '+${book.lessonName}+' '+${book.procedureName}"></span>
                            </label>
                        </th:block>
                    </div>
                </div>

            </div>
            <span th:errors="${meeting.meetingNote}" class="error"></span>
            <input type="submit" value="Edit Complete" class="btn btn-primary">
        </form>
    </div>
</body>
</html>