<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <form th:action="@{'../home'}">
        <div class="container-fluid">
            <h2 th:unless="${meetings} and ${meetings.size()}">No Meetings Exist
                <a th:href="@{/meetings/create}">create a Meeting</a></h2>
            <table class="table table-striped" th:if="${meetings} and ${meetings.size()} > 0">
                <thead>
                <tr>
                    <th>Meeting Date</th>
                    <th>Meeting Note</th>
                    <th>Student</th>
                </tr>
                </thead>
                <tr th:each="meeting : ${meetings}">
                    <td><a th:text="${meeting.meetingDate}"></a></td>
                    <td><a th:text="${meeting.meetingNote}"></a></td>

                    <td><a th:text="Edit" th:value = "${meeting.id}" th:href="'meetings/edit/' + ${meeting.id}"></a></td>
                </tr>
            </table>
            <input type="submit" value="Return to main menu" class="btn btn-primary">
        </div>
    </form>
</body>
</html>