<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <form th:action="@{'../home'}">
        <div class="container-fluid">
            <h2 th:unless="${meetings} and ${meetings.size()}">No Meetings Exist
                <a th:href="@{/meetings/create}">Create a Meeting</a></h2>
            <table class="table table-striped" th:if="${meetings} and ${meetings.size()} > 0">
                <thead>
                <tr>
                    <th>Meeting Date</th>
                    <th>Meeting Note</th>
                    <th>Student</th>
                    <th>Activities</th>
                    <th>Reading Sightwords</th>
                    <th>Spelling Sightwords</th>
                </tr>
                </thead>
                <tr th:each="meeting : ${meetings}">
                    <td><a th:text="${meeting.meetingDate}"></a></td>
                    <td><a th:text="${meeting.meetingNote}"></a></td>
                    <td><a th:text="${meeting.student.firstName}+' '+${meeting.student.lastName}"></a></td>

                    <td>
                       <th:block th:if="${meeting.books.size() > 0}" th:each="book : ${meeting.books}">
                           <p th:text="${book.bookName}+' '+${book.lessonName}+' '+${book.procedureName}"></p>
                       </th:block>
                   </td>

                    <td>
                        <th:block th:if="${meeting.sightwords.size() > 0}" th:each="sightword : ${meeting.sightwords}">
                            <p th:text="${sightword.word}"></p>
                        </th:block>
                    </td>

                    <td>
                        <th:block th:if="${meeting.spellwords.size() > 0}" th:each="spellword : ${meeting.spellwords}">
                            <p th:text="${spellword.word}"></p>
                        </th:block>
                    </td>

                    <td><a th:text="Edit" th:value = "${meeting.id}" th:href="'meetings/edit/' + ${meeting.id}"></a></td>
                    <td><a th:text="Overview" th:href="'/meetings/overview?meetingId=' + ${meeting.id}"></a></td>
                </tr>
            </table>
            <input type="submit" value="Return to main menu" class="btn btn-primary">
            <input type="submit" value="New Meeting" th:formaction="@{/meetings/create}"class="btn btn-primary">
        </div>
    </form>
</body>
</html>