<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <form th:action="@{'../home'}">
        <div class="container-fluid">
            <h2 th:unless="${books} and ${books.size()}">No Book Profiles Exist
                <a th:href="@{/books/create}">create a Book Profile</a></h2>
            <table class="table table-striped" th:if="${books} and ${books.size()} > 0">
                <thead>
                <tr>
                    <th>Book Name</th>
                    <th>Book Description</th>
                    <th>Lesson Name</th>
                    <th>Lesson Description</th>
                    <th>Procedure Name</th>
                    <th>Procedure Description</th>
                </tr>
                </thead>
                <tr th:each="book : ${books}">
                    <td><a th:text="${book.BookName}"></a></td>
                    <td><a th:text="${book.BookDescription}"></a></td>
                    <td><a th:text="${book.LessonName}"></a></td>
                    <td><a th:text="${book.LessonDescription}"></a></td>
                    <td><a th:text="${book.ProcedureName}"></a></td>
                    <td><a th:text="${book.ProcedureDescription}"></a></td>
                    <td><a th:text="Edit" th:value = "${book.id}" th:href="'books/edit/' + ${book.id}"></a></td>
                </tr>
            </table>
            <input type="submit" value="Return to main menu" class="btn btn-primary">
        </div>
    </form>
</body>
</html>