<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>"Tutor Tracker"</title>
</head>
<body>
<H1>"Welcome to the Tutor Tracker"</H1>
<div></div>
<h2>Students:</h2>
<h3>
<a th:href="@{/students/create}">Create a Student Profile</a>
<div></div>
<a th:href="@{/students}">Edit a Student Profile</a>
</h3>
<div></div>
<h2>Books:</h2>
<h3>
    <a th:href="@{/books/create}">Create a Book Profile</a>
    <div></div>
    <a th:href="@{/books}">Edit a Book Profile</a>
</h3>
</body>
</html>