<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div class="container-fluid">
    <form method="post" th:action="@{/sightwords/edit}">
        <input type="hidden" th:value="${sightword.id}" name="sightwordId">
        <div class="form-group">
            <label>Sight Word
                <input th:field="${sightword.word}" required class="form-control">
            </label>
            <span th:errors="${sightword.word}" class="error"></span>
        </div>
        <div class="form-group">
            <label> Level
                <input th:field="${sightword.level}"required class="form-control">
            </label>
            <span th:errors="${sightword.level}" class="error"></span>
        </div>
        <div class="form-group">
            <label> Lesson
                <input th:field="${sightword.lesson}"required class="form-control">
            </label>
            <span th:errors="${sightword.lesson}" class="error"></span>
        </div>

        <input type="submit" value="save" class="btn btn-primary">
        <input type="submit" value = "cancel" th:formaction="@{/sightwords/cancel}" class="btn btn-primary">
    </form>
</div>
</body>
</html>