<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div class="container-fluid">
    <form method="post" th:action="@{/sightwords/edit}">
        <input type="hidden" th:value="${sightword.id}" name="sightwordId">
        <div class="form-group">
            <label>Sight Word
                <input th:field="${sightword.word}" required class="form-control">
            </label>
            <span th:errors="${sightword.word}" class="error"></span>
        </div>

        <input type="submit" value="Edit Complete" class="btn btn-primary">
    </form>
</div>
</body>
</html>