<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<form th:action="@{'../home'}">
    <div class="container-fluid">
        <h2 th:unless="${readingSightwords} and ${readingSightwords.size()}">No Reading Sightword Profiles Exist
            <a th:href="@{/readingsightwords/create}">create a Reading Sightword Profile</a></h2>
        <table class="table table-striped" th:if="${readingSightwords} and ${readingSightwords.size()} > 0">
            <thead>
            <tr>
                <th>Reading Sight Word</th>

            </tr>
            </thead>
            <tr th:each="readingSightword : ${readingSightwords}">
                <td><a th:text="${readingSightword.Word}"></a></td>

                <td><a th:text="Edit" th:value = "${readingSightword.id}" th:href="'readingSightwords/edit/' + ${readingSightword.id}"></a></td>
            </tr>
        </table>
        <input type="submit" value="Return to main menu" class="btn btn-primary">
    </div>
</form>
</body>
</html>